# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/
entorno/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Base de datos
*.db
*.sqlite3

# Archivos de configuración local
.env
config_local.py

# Kivy
*.pyc
.buildozer/
bin/
*.apk
*.aab

# Testing (pytest)
.pytest_cache/
.coverage
htmlcov/
.tox/
coverage.xml
*.cover
.hypothesis/
.cache/
pytest_cache/